{{ partial:partials/sitenav }}

<main class="main-generic main-poetry accordion">
  {{ collection:poetry paginate="false" as="posts" max-depth="1" sort="order" }}

      <ul>

      {{ posts }}

      <li>
        <a href="#0" class="accordion-link">{{ title }}</a>
        <article class="poem__content">
            {{ content | nl2br }}
        </article>
      </li>

      {{ /posts }}

      </ul>

      {{ paginate }}
        <nav class="poetry__pagination">
          {{ if prev_page }}
            <a href="{{ prev_page }}">&#10523;</a>
          {{ else }}
            <a class="disabled" disabled>&#10523;</a>
          {{ /if }}
          {{ if next_page }}
            <a href="{{ next_page }}">&#10524;</a>
          {{ else }}
            <a class="disabled" disabled>&#10524;</a>
          {{ /if }}
        </nav>
      {{ /paginate }}

  {{ /collection:poetry }}
  </main>
