{{ partial:partials/sitenav }}

<main class="main-generic main-academic">

    <ul class="academic-covers">
        <li>
            <img
                src="{{ config:app:url }}/assets/images/cover-mel-1.jpg"
                alt=""
            />
        </li>

        <li>
            <img
                src="{{ config:app:url }}/assets/images/cover-mel-2.jpg"
                alt=""
            />
        </li>
        <li>
            <img
                src="{{ config:app:url }}/assets/images/cover-mel-3.jpg"
                alt=""
            />
        </li>
        <li>
        <img
            src="{{ config:app:url }}/assets/images/cover-mel-4.jpg"
            alt=""
            />
        </li>
        <li>
            <img
                src="{{ config:app:url }}/assets/images/cover-mel-5.jpg"
                alt=""
            />
        </li>
    </ul>


  {{ collection:academic paginate="false" as="posts" max-depth="1" sort="order" }}

      <ul>

      {{ posts }}

      <li>
        <a class="academic__title pdf glightbox" href="{{ pdf }}{{ url }}{{ /pdf }}">{{ title }}</a>
      </li>

      {{ /posts }}

      </ul>

      {{ paginate }}
        <nav class="poetry__pagination">
          {{ if prev_page }}
            <a href="{{ prev_page }}">&#10523;</a>
          {{ else }}
            <a class="disabled" disabled>&#10523;</a>
          {{ /if }}
          {{ if next_page }}
            <a href="{{ next_page }}">&#10524;</a>
          {{ else }}
            <a class="disabled" disabled>&#10524;</a>
          {{ /if }}
        </nav>
      {{ /paginate }}

  {{ /collection:academic }}
  </main>
