.main-photos {
  padding: 1rem 2rem;
  background: transparent;
  width: clamp(80vw, 100vw, 1226px);
}

.main-photos > ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 18vw);
  grid-gap: .8rem;
  justify-content: center;

  a {
    overflow: hidden;
    aspect-ratio: 1/1.2;
    display: block;
    border: .4rem solid var(--armaos-gray);
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: 1px solid rgb(255,255,255,.5);
    }
  }
}
